
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .emergency {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .emergency h2 {
    margin-top: 0;
  }
  
  .emergency p {
    margin: 5px 0;
  }
  
  .emergency p:first-child {
    font-weight: bold;
  }
  